/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 1.5em;
}

a {
    color: #1E90FF;
}
a:link {
    text-decoration: none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

select {
   
   }



html, body
{
    height: 100%;
}

#canvas
{
    height: 1280px;
    width: 1280px;
    background-image: url('../img/MoxyTR-bkgdwstripe.jpg');
    background-size: cover;

}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered.text {
    text-align: center;
}

#title
{
    left: 435px;
    width: 410px;
    height: 157px;
    padding-top: 40px;
    position: relative;
}

#robot {
    position: relative;
    top: -20px;
    left: 324px;
    width: 632px;
    height: 729px;
    z-index: 0;
}

#robot > img:first-child {
    height: 100%;
    width: 100%;
}

#social {
    width: 200px;
    height: 50px;
    margin-top: -70px;
    position: absolute;
}

#social label {
    font-size: .75em;

}

.box {
    position: absolute;
    top: 500px;
    width: 284px;
    height: 207px;    
}

.box .container {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.box .caption {
    display: block;
    top: -30px;
    height: 26px;
}

#instructions > div {
    position: relative;
    top: 20px;
    font-size: 0.70em;
}

div.instruction_text {
    margin-left: 65px;
    width: 220px;
}

.button {
    margin-left: 10px;
    float: left;
}

.font-large {
    font-size: 1.25em;
}

.font-small {
    font-size: 1.10em;
}

#result p {
    position: relative;
    top: -20px;
    width: 80%;
    padding: 3% 3%;

}

#lower_copy1 {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

#lower_copy2 {
    width: 500px;
    font-size: 0.85em;
}

img.question {
    width: 24px;
    height: 24px;
    left: 210px;
    position: absolute;
}

img.unanswered {
    background-image: url('../img/MoxyTR-button-sm-yellow.png');
}

img.answered {
    background-image: url('../img/MoxyTR-button-sm-green.png');
}

select.question
{
    width: 165px;
    left: 235px;
    position: absolute;
    background: transparent;
    font-size: 12px;
}

.category {
    top: 36%;
}

.cta {
    top: 44.5%;
}

.benefit {
    top: 53%;
}

.urgency {
    top: 61.5%;
}

img#generateDesigned {
    position: absolute;
    top: 344px;
    left: 420px;
    width: 42px;
    height: 43px;
}

img#generateRandom {
    position: absolute;
    top: 496px;
    left: 360px;
    width: 30px;
    height: 30px;
}

.banner
{
    height: 50px;
    top: 250px;
    position: absolute;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 1.1em;
}

.banner.right {
    left: 850px;
}

.right {
    left: 880px;
}

.left {
    left: 120px;
}

footer {
    display: inline;
    font-size: 0.75em;
    height: 100px;
    width: 1040px;
    left: 120px;
    position: absolute;
}

#moxy {
    display: inline;
    position: relative;
    left: 10px;
    float: left;
    width: 431px;
    text-align: left;
}

#logo {
    display: inline;
    position: relative;
    
}
#credits {
    display: inline;
    position: relative;
    float: right;
    text-align: right;
}
/*


footer {
    position: absolute;
    left: 120px;
    width: 1040px;
}

#moxy {
    display: inline;
    position: absolute;

    width: 430px;
}

#logo {
    display: inline;
    float: left;
    left: 430px;
    width: 180px;
}

#credits {
    display: inline;
    position: absolute;
    text-align: right;
    width: 430px;
}
*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
